<!DOCTYPE html>
<html ng-app="gameApp">

<head>
    <title>Adventure Game</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" href="bundle.css">
</head>

<body>
    <main ng-controller="GameController as gameCtrl">
        <h1>The Harry Potter Adventure Quest</h1>
        <div class="descriptions" ng-hide="gameCtrl.adventureTime">
            <p ng-show="gameCtrl.beginning">Welcome to the magical world of witchcraft and wizardry. Adventure and peril awaits the famed wizard, Harry Potter. </p>
            <button ng-show="gameCtrl.beginning" ng-click="gameCtrl.start()">Let's Go!</button>
            <h2>{{gameCtrl.room}}</h2>
            <i>{{gameCtrl.instruction}}</i>

            <section ng-hide="gameCtrl.ending">

                <div class="direction" ng-hide="gameCtrl.adventureTime">
                    <form ng-hide="gameCtrl.beginning" ng-hide "gameCtrl.adventureTime" name="moveForm" novalidate ng-init="moveForm.direction='gameCtrl.directions[0]'">
                        <label for="direction">Proceed which way?</label>
                        <select name="direction" ng-model="moveForm.direction">
                            <option ng-repeat="direction in gameCtrl.directions" value="{{direction}}">{{direction}}</option>
                        </select>
                        <button ng-hide="gameCtrl.beginning" type="button" ng-click="gameCtrl.move(moveForm.direction)">Go!</button>
                    </form>
                </div>

                <ol>
                    <li ng-hide="gameCtrl.beginning" ng-repeat="item in gameCtrl.history">{{item.text}}</li>
                </ol>
        </div>

        <div class="adventure" ng-show="gameCtrl.adventureTime">
            <p ng-show="gameCtrl.adventureTime" ng-init="{notice}">{{gameCtrl.notice}}</p>
            <button ng-init="{adventure}" ng-click="gameCtrl.doAdventure()">{{gameCtrl.adventure}}</button>
        </div>

        </section>
    </main>
</body>

</html>
